// Configuration
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
@import "./helpers/variables";
@import "./helpers/variables-dark";

// Required
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";

// Default utilities overrides
@import "./helpers/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

// @import "../node_modules/bootstrap/scss/bootstrap";

// Custom Layout & components
// @import "../css/components/buttons";

body{
    /* background-image: url("../img/bg_002.svg");
    background-size: cover;
    background-position: center; */
    background-image: linear-gradient(rgb(246, 246, 246) .1rem, transparent .1rem), linear-gradient(90deg, rgba(246, 246, 246) .1rem, transparent .1rem);
    background-size: 3rem 3rem;
}

// .bg-theme-light{
//     background-color: #EAEDE7;
// }

// .bg-theme-dark{
//     background-color: #415948;
// }

.fs-7{
    font-size: 14px;
}

.nav::-webkit-scrollbar{
    display: none;
}

.nav{
    scrollbar-width: none; /* firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.typing{
    animation: type 2.5s steps(16), blink .5s infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    font-size: 4em;
    border-right: 5px solid black;
    width: 21ch;
}

@keyframes type{
    0%{
      width:0ch;
    }
    100%{
      width:17ch;
    }
  }
  
  @keyframes blink{
    from{
      border-color:transparent;
    }
    to{
      border-color:black;
    }
  }

.shortTalksImg{
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.vvtest{
  flex-wrap: nowrap;
  overflow: auto;
}